.scroll-spy {
    position: sticky;
    top: 80px;
    width: 240px;
    display: flex;
    flex-flow: column;
    gap: 2.5rem;

    .title {
        font-weight: 500;
        color: $gray-900;
        margin-bottom: .75rem;
    }

    .nav-link {
        font-size: $font-size-base;
        line-height: 28px;
        letter-spacing: .006rem;
        &.active {
            color: $primary;
            &+ .child {
                display: flex;

            }
        }
    }

    .child {
        display: none;
        padding-left: 1.25rem;
        border-left: 2px solid $primary;
        gap: .3rem;

        .nav-link {
            font-size: 1rem;
        }
    }
}