// Roboto Font
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Black.ttf);
  font-weight: 900;
}

// Roboto Mono Font
@font-face {
  font-family: 'Roboto Mono';
  src: url(../fonts/roboto-mono/RobotoMono-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../fonts/roboto-mono/RobotoMono-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../fonts/roboto-mono/RobotoMono-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../fonts/roboto-mono/RobotoMono-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../fonts/roboto-mono/RobotoMono-Bold.ttf);
  font-weight: 700;
}

// Neue Machina Font
@font-face {
  font-family: 'Neue Machina';
  src: url(../fonts/neue-machina/NeueMachina-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'Neue Machina';
  src: url(../fonts/neue-machina/NeueMachina-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Machina';
  src: url(../fonts/neue-machina/NeueMachina-Ultrabold.otf);
  font-weight: 900;
}

html,
body {
  // font-family: 'Roboto', sans-serif !important;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.flex-root {
  flex: 1;
}

.neue-machina {
  font-family: 'Neue Machina';
}

.roboto-mono {
  font-family: 'Roboto Mono';
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.max-content {
  min-width: max-content;
}

[disabled='true'] {
  cursor: not-allowed;
}

#main-loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: transparent;
  backdrop-filter: blur(9px);

  svg {
    animation: rotation 5s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}

.svg-icon-size {
  width: 3rem;
  height: 3rem;
}

.background-image {
  background: var(--background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.disabled {
    filter: grayscale(1);
  }
}

.background-text {
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth-bg {
  background-position: top;
  background-size: cover;
  filter: grayscale(0);
  transition: filter linear 0.5s;

  &.error {
    filter: grayscale(1);
  }
}

#box-loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: $gray-100, $alpha: 0.5);
  backdrop-filter: blur(1px);
  z-index: 2;
  border-radius: inherit;
}

.small-coin-icon {
  width: 20px;
}

.coin-icon {
  width: 24px;
}

.multiple-coin {
  &:not(:first-child) {
    margin-left: -8px;
  }
}

.svg-holder {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.svg-holder-sm {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.main-container {
  display: flex;
  flex: 1;
  padding: 1.5rem 0;
  position: relative;
  padding-left: calc(264px + 24px);
  transition: all linear 0.3s;

  // overflow: auto;
  .sidebar-click-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #e5e9ecbd;
    cursor: pointer;
    display: none;
    z-index: 9;
  }

  #sidebar {
    position: fixed;
    left: 1.5rem;
    height: calc(100vh - 1.5rem - 1.5rem);
    width: 264px;
    overflow: auto;
    padding: 1.25rem 0 0;
    border-radius: $border-radius-xxl;
    background: $white;
    border: 1px solid $gray-200;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    transition: all linear 0.3s;
    gap: 2.5rem;

    .logo {
      margin-bottom: 2.75rem;
    }

    .logo-collapse {
      display: none;
      margin: auto;
      margin-bottom: 3.125rem;
    }

    .two-side-space {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      transition: all linear 0.3s;
    }

    .search-box {
      display: flex;
      align-items: center;
      position: relative;

      input {
        transition: all linear 0.3s;
      }

      svg {
        right: 1rem;
      }
    }

    .right-side-space {
      padding-right: 1.5rem;
    }

    .links {
      font-family: 'Neue Machina';
      font-weight: 300;
      display: flex;
      flex-flow: column;
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;

      .link-box {
        display: flex;
        flex-flow: column;
        gap: 1rem;
      }

      .collapse-link {
        padding-right: 1.5rem;
        display: flex;
        justify-content: space-between;

        svg:not(.icon) {
          transition: all linear 0.3s;
          cursor: pointer;
        }

        svg[aria-expanded='true'] {
          transform: rotateX(180deg);

          path {
            stroke: $primary;
          }
        }
      }

      .collapse-box {
        .box {
          margin-top: 1rem;
          padding-right: 1.5rem;
          display: flex;
          flex-flow: column;
          gap: 0.5rem;

          .item {
            color: $gray-800;
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            height: 24px;
            padding-left: 2rem;
            border-radius: 0 0.5rem 0.5rem 0;
            transition: all linear 0.3s;
            min-width: max-content;

            span {
              transition: all linear 0.3s;
            }

            &.active {
              background-color: $gray-200;
            }
          }
        }
      }

      .link {
        width: 100%;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $gray-800;
        position: relative;
        min-width: max-content;
        cursor: pointer;

        // transition: all linear .3s;
        span {
          // transition: all linear .3s;
        }

        &.active {
          color: $primary !important;

          &::before {
            content: '';
            position: absolute;
            display: flex;
            bottom: 0;
            top: 0;
            left: 0;
            width: 0.5rem;
            border-radius: 0.313rem;
            background-color: $primary;
          }

          .icon {
            path {
              stroke: $primary;
            }
          }
        }
      }

      .collapse-btn {
        svg {
          transition: all linear 0.3s;
        }
      }

      .seprator-line {
        padding: 1.5rem;

        span {
          height: 1px;
          width: 100%;
          background: $gray-200;
          display: block;
          transition: all linear 0.3s;
        }
      }
    }

    .user-box {
      padding: 0 1.5rem 1.5rem;
      transition: all linear 0.3s;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      background-color: inherit;

      .user {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        border-radius: $border-radius-pill;
        border: 1px solid $gray-200;
        background-color: inherit;
        transition: all linear 0.3s;

        .bullet {
          right: 0;
          top: 0;
          transition: all linear 0.3s;
        }

        .name,
        .balance {
          min-width: max-content;
          transition: all linear 0.3s;
        }
      }
    }

    &.collapsed {
      width: 72px;
      padding: 1.625rem 0 0;

      .logo {
        display: none;
      }

      .logo-collapse {
        display: block;
      }

      .two-side-space {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .search-box {
        justify-content: center;

        input {
          opacity: 0;
        }

        svg {
          right: initial;
        }
      }

      .links {
        .collapse-box {
          .box {
            .item {
              gap: 2rem;

              span {
                opacity: 0;
              }
            }
          }
        }

        .link {
          gap: 1.5rem;

          span {
            opacity: 0;
          }
        }
      }

      .user-box {
        padding: 0 1rem 1rem;

        .user {
          padding: 0;
          border-width: 0;
          gap: 1rem;

          .bullet {
            top: -8px;
          }

          .name,
          .balance {
            opacity: 0;
          }
        }
      }
    }
  }

  #main {
    max-width: 1272px;
    width: 100%;
    // margin-left: calc(264px + 24px);
    // overflow: auto;
    transition: all linear 0.3s;
    padding: 1.5rem;

    #navbar-layout {
      header {
        overflow-x: auto;
        overflow-y: hidden;

        a {
          color: $gray-500;
          font-size: $h2-font-size;
          font-family: 'Neue Machina';
          min-width: max-content;

          &:hover,
          &.router-link-exact-active {
            color: $primary;
          }

          @media (max-width: 768px) {
            font-size: $h4-font-size;
          }
        }
      }
    }
  }

  &.sidebar-close {
    #sidebar {
      .links {
        .collapse-btn {
          svg {
            transform: rotateY(180deg);
          }
        }

        .seprator-line {
          span {
            height: 2px;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    &.sidebar-close {
      padding-left: calc(72px + 24px);

      #main {
        max-width: calc(1272px + 192px);
      }
    }
  }

  @media (max-width: 992px) {
    padding: 1rem 0;
    padding-left: calc(72px + 16px);

    &.sidebar-open {
      .sidebar-click-box {
        display: block;
      }
    }

    #sidebar {
      height: calc(100vh - 1rem - 1rem);
      left: 1rem;
      z-index: 10;
    }

    #main {
      padding: 1rem;
      // margin-left: calc(72px + 16px);
    }
  }

  @media (max-width: 768px) {
    #main {
      // overflow: auto;
    }
  }
}

.transition-all {
  transition: all linear 0.3s;
}

.both-side-line-title {
  align-items: center;
  display: flex;

  span {
    min-width: max-content;
    padding: 0 2rem;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  &::before,
  &::after {
    content: '';
    background-color: $black;
    height: 1px;
    width: 100%;
  }
}

.partners {
  display: flex;
  align-items: center;

  .item {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    padding: 1px;
    border-radius: $border-radius-xl;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
}

.value-infos {
  display: flex;
  align-items: center;

  .item {
    padding: 0 1.5rem;
    border-left: 1px solid $gray-500;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;

    .value {
      font-size: $font-size-lg;
      margin-bottom: 0.5rem;
      font-family: 'neue machina';
    }

    .title {
      color: $gray-500;
      letter-spacing: 0.006rem;
      font-size: $font-size-sm;
      margin-bottom: 0;
      line-height: 1rem;
      text-align: center;
    }

    &:not(.active) {
      .value {
        color: $gray-800 !important;
      }
    }

    &:first-child {
      padding-left: 0;
      border: none;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media (max-width: 400px) {
    flex-flow: column;

    .item {
      padding: 0;
      border-left: none;
      border-top: 1px solid $gray-500;
      padding-top: 0.75rem;
      margin-top: 0.75rem;

      &:first-child {
        border: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.auto-infos {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;

  .item {
    border-left: 1px solid $gray-400;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
    min-width: max-content;
    padding: 0 1rem;

    .title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: $gray-600;
      text-align: center;
    }

    .value {
      color: $gray-800;
      letter-spacing: 0.006rem;
      margin-bottom: 0;
      text-align: center;
      letter-spacing: -0.02rem;
      line-height: 28px;
      min-width: max-content;
    }

    &:first-child {
      padding-left: 0;
      border: none;
    }
  }
}

.application-card {
  transition: box-shadow linear 0.3s;

  .type {
    display: flex;
    align-items: center;
    height: 1.5rem;
    background-color: $gray-500;
    color: $white;
    border-radius: $border-radius;
    font-weight: 500;
    padding: 0 1.25rem;
  }

  .partners {
    display: none;
  }

  &.have-partners:hover {
    .type {
      display: none;
    }

    .partners {
      display: flex;
    }
  }

  .name {
    display: flex;
    align-items: baseline;
    line-height: 2rem;
    margin-bottom: 0;
    gap: 0.25rem;

    img {
      display: none;
    }
  }

  &.disabled {
    .name {
      color: $danger !important;

      img {
        display: block;
      }
    }

    .infos {
      .item {
        .value {
          color: $gray-700;
        }
      }
    }
  }

  .infos {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;

    .item {
      padding: 0 1.5rem;
      border-left: 1px solid $gray-500;
      display: flex;
      flex-flow: column;
      align-items: center;

      .value {
        font-size: $font-size-lg;
        margin-bottom: 0.5rem;
        color: $gray-800;
        font-family: 'neue machina';
      }

      .title {
        color: $gray-500;
        letter-spacing: 0.006rem;
        font-size: $font-size-sm;
        margin-bottom: 0;
        line-height: 1rem;
        min-width: 96px;
        text-align: center;
      }

      &:first-child {
        padding-left: 0;
        border: none;
      }
    }
  }

  &:hover {
    box-shadow: 0px 38px 30px -39px $gray-400;
  }

  @media (min-width: 992px) {
    .enter-btn {
      opacity: 0;
      transition: all linear 0.3s;
    }

    &:hover {
      .enter-btn {
        opacity: 1;
      }
    }
  }
}

.plugin-card {
  .infos {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;

    .item {
      padding: 0 1.5rem;
      border-left: 1px solid $gray-500;
      display: flex;
      flex-flow: column;
      align-items: center;

      .value {
        font-size: $font-size-lg;
        margin-bottom: 0.5rem;
        color: $gray-800;
        font-family: 'neue machina';
      }

      .title {
        color: $gray-500;
        letter-spacing: 0.006rem;
        font-size: $font-size-sm;
        margin-bottom: 0;
        line-height: 1rem;
        min-width: 96px;
        text-align: center;
      }

      &:first-child {
        padding-left: 0;
        border: none;
      }
    }
  }
}

.notification-types {
  display: flex;
  gap: 1rem;
  overflow: auto;
  width: 100%;
  margin-bottom: 2.5rem;

  .item {
    padding: 0 1rem;
    color: var(--color);
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 1.25rem;
    letter-spacing: 0.006rem;
    font-size: 1rem;
    line-height: 2em;
  }
}

.pagination-card {
  position: relative;
  border-radius: 1.25rem;

  .first {
    position: absolute;
    height: 57px;
    left: 3rem;
    right: 3rem;
    top: 7px;
    background: $gray-200;
    z-index: -1;
    border-radius: 1.25rem;
  }

  .last {
    position: absolute;
    height: 64px;
    left: 6.125rem;
    right: 6.125rem;
    top: 8px;
    background: $gray-300;
    z-index: -2;
    border-radius: 1.25rem;
  }
}

.lock-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: auto;
  background: linear-gradient(180deg, #e5e9ec 0%, rgba(229, 233, 236, 0) 100%);
  display: flex;

  .card-box {
    position: relative;
    z-index: 10;
  }
}

.category-card {
  transition: all linear 0.3s;
  cursor: pointer;

  .card-body {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .title {
      color: $gray-800;
      font-size: 1rem;
    }

    .subject {
      color: $gray-700;
    }
  }

  &.active,
  &:hover {
    border-color: $primary;

    .card-body {
      .title {
        color: $primary;
      }
    }
  }

  &:hover {
    box-shadow: 0px 36px 37px -22px $gray-400;
  }

  &.active {
    background-color: $blue-100;
  }
}

.section-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100dvh - 70.5px);
  padding-bottom: 70.5px;

  h1 {
    font-size: 112px;
    line-height: 108px;
    margin: 0;
    font-family: 'Neue Machina';
  }

  @media (width < 1200px) {
    h1 {
      font-size: 90px;
      line-height: 98px;
    }
  }

  @media (width < 992px) {
    height: calc(100dvh - 135.5px);
    padding-bottom: 135.5px;
    h1 {
      font-size: 60px;
      line-height: 61px;
    }
  }

  @media (width < 576px) {
    h1 {
      font-size: 50px;
      line-height: 51px;
    }
  }
}

.faq-main-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 73px;
  margin: 41px 0 111px;

  h1 {
    font-size: 84px;
    line-height: 81px;
    margin: 0;
    margin-inline-start: 18px;
    margin-bottom: 0;
    font-family: 'Neue Machina';
  }

  img {
    max-width: 446px;
    width: 100%;
  }

  @media (width < 1200px) {
    img {
      max-width: 350px;
    }
  }

  @media (width < 992px) {
    flex-flow: column;
    gap: 1.5rem;
    margin: 40px 0;

    h1 {
      order: 1;
      font-size: 60px;
      line-height: 61px;
      margin: 0;
      word-break: break-all;
    }
  }
}

.blog-main-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 73px;
  margin: 41px 0 111px;

  h1 {
    font-size: 84px;
    line-height: 81px;
    margin: 0;
    margin-inline-start: 18px;
    margin-bottom: 0;
    font-family: 'Neue Machina';
  }

  img {
    max-width: 446px;
    width: 100%;
  }

  @media (width < 1200px) {
    img {
      max-width: 350px;
    }
  }

  @media (width < 992px) {
    flex-flow: column;
    gap: 1.5rem;
    margin: 40px 0;

    h1 {
      order: 1;
      font-size: 60px;
      line-height: 61px;
      margin: 0;
      word-break: break-all;
    }
  }
}

.security-main-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 73px;
  margin: 41px 0 111px;

  h1 {
    font-size: 80px;
    line-height: 93.75px;
    margin: 0;
    margin-bottom: 0;
  }

  img {
    max-width: 457px;
    width: 100%;
  }

  @media (width < 1200px) {
    img {
      max-width: 350px;
    }
  }

  @media (width < 992px) {
    flex-flow: column;
    gap: 1.5rem;
    margin: 40px 0;

    h1 {
      order: 1;
      font-size: 60px;
      line-height: 61px;
      margin: 0;
      word-break: break-all;
    }
  }
}

.plans-banner {
  background-image: url(/media/bg/logo.png);
  background-color: $blue-600;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 3rem 0;

  .title {
    font-size: 58px;
    width: 336px;
    line-height: 67.97px;
    margin: 0;
    color: $white;
    font-weight: 500;
  }

  .card {
    border-radius: 30px;
  }
}

.text-icon-card {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;

  .title {
    margin: 1.5rem 0;
    color: $gray-900;
    transition: all ease 0.3s;
  }

  .subject {
    line-height: 28px;
    color: $gray-700;
    transition: all ease 0.3s;
  }

  .arrow {
    opacity: 0;
    transition: all ease 0.3s;
  }

  &:hover {
    .title {
      color: $primary;
    }

    .subject {
      color: $gray-800;
    }

    .arrow {
      opacity: 1;
    }
  }
}

.exchange-fluid-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  .image-wrapper {
    position: relative;

    .text {
      position: absolute;
      left: 70px;
      top: 82px;
      width: 320px;
      color: $white;
      font-family: Roboto;
      font-size: 58px;
      line-height: 68px;
    }
  }

  @media (width < 1200px) {
    width: 530px;

    .image-wrapper {
      .text {
        font-size: 36px;
        line-height: 46px;
      }
    }
  }

  @media (width < 992px) {
    display: none;
  }
}

.main-info-section-box {
  display: flex;
  flex-flow: column;
  gap: 154px;

  .main-info-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.5rem;

    &:nth-child(even) {
      flex-flow: row-reverse;
    }

    .content {
      max-width: 600px;
      width: 100%;

      .title-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 101px;
        margin-bottom: 1.5rem;

        .title {
          color: $gray-800;
          margin: 0;
        }
      }

      .text {
        margin: 0;
        line-height: 28px;
      }

      .action {
        display: flex;
        align-items: center;
        margin-top: 4.5rem;
        row-gap: 1rem;
        column-gap: 1.5rem;
        flex-wrap: wrap;
      }
    }
  }

  @media (width < 1200px) {
    gap: 7rem;
    .main-info-section {
      .main-image {
        width: 400px;
      }
    }
  }

  @media (width < 992px) {
    .main-info-section {
      flex-flow: column;
      align-items: center;

      &:nth-child(even) {
        flex-flow: column;
      }

      .main-image {
        width: initial;
      }

      .content {
        max-width: 100%;

        .title-box {
          height: initial;

          .title {
            line-height: 1;
          }
        }

        .action {
          margin-top: 2.5rem;
        }
      }
    }
  }
}

.coins-images {
  display: flex;
  .item {
    width: 40px;
    &:not(:first-child) {
      margin-inline-start: -13px;
    }
  }

  @media (width < 576px) {
    .item {
      width: 32px;
      &:not(:first-child) {
        margin-inline-start: -7px;
      }
    }
  }
}

.blog-item {
  height: 100%;
  color: $gray-700;

  .img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 299px;
    border-radius: 1.5rem;
    border: 1px solid $gray-200;
    background-color: #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  .title {
    margin: 1.5rem 0 2.0625rem;
    color: $gray-800;
    transition: all ease 0.3s;
    height: 4rem;
  }

  .arrow {
    opacity: 0;
    margin-top: 1.5rem;
    transition: all ease 0.3s;
  }

  &:hover {
    .title {
      color: $primary;
    }

    .arrow {
      opacity: 1;
    }
  }
}

.blog-title-box {
  padding: 3.5rem 0 2rem;
  color: $gray-700;
  .title {
    font-size: 4rem;
    color: $gray-900;

    @media (width < 992px) {
      font-size: 3rem;
    }

    @media (width < 576px) {
      font-size: 2rem;
    }
  }
}

.blog-banner {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.blog-detail {
  margin-top: 3.5rem;
  .content-box {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    color: $gray-900;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 1rem;
      display: block;
      margin: auto;
    }

    iframe {
      display: block;
      margin: auto;
      max-width: 100%;
    }

    figcaption {
      text-align: center;
    }
  }
}

@media (min-width: 1400px) {
  .container-xxl {
    max-width: 1830px;
  }
}

/* Pagination */
.pagination {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.pagination .page-item {
  transition: all ease 0.3s;
}

.pagination .page-item a {
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-200;
  border-radius: 1rem;
  color: $gray-700;
  line-height: 1;
  transition: all ease 0.3s;
}

.pagination .page-item a svg path {
  stroke: $gray-700;
  transition: all ease 0.3s;
}

.pagination .page-item a:hover,
.pagination .page-item.active a {
  background-color: $primary;
  color: #fff;
}

.pagination .page-item a:hover svg path,
.pagination .page-item.active a svg path {
  stroke: #fff;
}

.page-header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  .title {
    color: $gray-900;
    margin-bottom: 0;
  }

  .description {
    margin-bottom: 0;
    margin-top: 0.5rem;
    color: $gray-600;
    font-size: $font-size-sm;
  }
}

.divider {
  margin: 1rem 0;
  width: 100%;
  height: 1px;
  background-color: var(--bs-border-color);
}

#document-holder {
  width: calc(100% - 240px - 3rem);

  @media (max-width: 992px) {
    width: 100%;
  }
}
